{{ define "main" }}
<div class="bg-space-cadet text-white">
  <div class="h-16 bg-contain bg-left-bottom bg-repeat-x md:h-64" style="background-image: url({{"images/bg-sky.png"|absURL}});"></div>
  <div class="pt-16">
    <div class="h-16 lg:h-36 bg-contain bg-center bg-repeat-x" style="background-image: url({{"images/title.svg"|absURL}}"></div>
    <p class="text-center max-w-2xl mx-auto mt-16 px-4">
      Datos como nuestro domicilio, correo electrónico o localización pertenecen a nuestra intimidad; si están en las manos equivocadas, pueden perjudicarnos personalmente y como sociedad. Por eso, este proyecto busca analizar las distintas leyes e iniciativas de datos personales en América Latina y contrastarlas con los estándares que se han adoptado internacionalmente.
    </p>
    <div class="py-32 w-full px-4 mx-auto flex flex-col space-y-32 lg:w-10/12">
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-fuchsia text-3xl lg:text-5xl">
            Por qué este proyecto <img class="inline-block w-8" src="{{"icons/lock.svg"|absURL}}" alt="">
          </h2>
          <p class="mt-6 max-w-md">
            Este proyecto surge como una iniciativa para disponibilizar varios análisis ya realizados sobre las leyes de protección de datos personales en países de América Latina, que incluyen distintos cuestionamientos que la ciudadanía y la sociedad civil se puede hacer constantemente sobre este tema y puede resolver con datos abiertos disponibles para su uso.
          </p>
        </div>
        <div class="w-full lg:w-1/2"></div>
      </div>
      <!---->
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2"></div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-orange text-3xl lg:text-5xl">
            Qué son los datos personales <img class="inline-block w-12" src="{{"icons/dots.svg"|absURL}}" alt="">
          </h2>
          <p class="mt-6 max-w-md">
            Es aquella información que sirve para identificar de forma directa o indirecta a una persona, es decir, indica de qué persona se trata (como el nombre o número de identificación), o da pistas sobre la identidad de la misma, por ejemplo su dirección de residencia.
          </p>
        </div>
      </div>
      <!---->
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-caribean text-3xl lg:text-5xl">
            Qué leyes se analizan aquí <img class="inline-block w-8" src="{{"icons/at.svg"|absURL}}" alt="">
          </h2>
          <p class="mt-6 max-w-md">
            Este proyecto analiza las leyes de protección de datos personales de distintos países de América Latina, entre los que se encuentran Argentina, Bolivia, Brasil, Chile, Colombia, Costa Rica, Ecuador, México, Panamá, Paraguay, Perú y Uruguay, determinando las coincidencias con el Estándar Iberoamericano de Protección de Datos, las iniciativas en torno a datos impulsadas en la pandemia por COVID 19, y lo que piensan sus ciudadanos del tratamiento de los datos personales.
          </p>
        </div>
        <div class="w-full lg:w-1/2"></div>
      </div>
    </div>
  </div>
</div>
<!--Las iniciativas de la pandemia -->
<div class="bg-caribean py-32 px-4 text-space-cadet">
  <img src="{{"images/iniciativa.svg"|absURL}}" alt="" class="mx-auto">
  <h2 class="mt-6 text-center font-lores uppercase text-3xl lg:text-5xl">
    Las iniciativas<br>de la pandemia
  </h2>
  <p class="text-center max-w-xl mx-auto mt-10">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
  </p>
  <div class="mx-auto mt-32 w-full md:w-10/12">
    <div class="flex flex-col items-start space-y-32">
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2"></div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-2xl lg:text-4xl">
            Los derechos a la <span class="text-fuchsia">privacidad</span> y a la <span class="text-fuchsia">libre circulación</span> han sido los más afectados
          </h2>
          <p class="mt-6">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, unt.
          </p>
          <a href="{{ relref . "ejemplo.md" }}" class="bg-space-cadet text-white font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-2xl lg:text-4xl">
            Solo dos iniciativas contemplan mecanismos de <span class="text-fuchsia">evaluación o auditoría externa</span>
          </h2>
          <p class="mt-6">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.
          </p>
          <a href="{{ relref . "ejemplo.md" }}" class="bg-space-cadet text-white font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
        <div class="w-full lg:w-1/2"></div>
      </div>
    </div>
  </div>
</div>
<!--Comparando las leyes-->
<div class="bg-lavender py-32 px-4 text-onyx">
  <img src="{{"images/compara.svg"|absURL}}" alt="" class="mx-auto">
  <h2 class="mt-6 text-center font-lores text-ryb uppercase text-3xl lg:text-5xl">
    Comparando<br>las leyes
  </h2>
  <p class="text-center max-w-xl mx-auto mt-10">
    Cada una de las leyes de los países de América Latina tiene sus particularidades y se relacionan de distintas maneras con el Estándar Iberoamericano de Protección de Datos que establece un modelo a seguir para abordar este tema en cada Estado. Estas son las coincidencias, coincidencias parciales y no coincidencias del Estándar en cada legislación.
  </p>
  <div class="mx-auto mt-32 w-full md:w-10/12">
    <div class="flex flex-col items-start space-y-32">
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2"></div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-2xl lg:text-4xl text-dodger">
            Barbados y México tienen las leyes que <span class="text-ryb">más se ajustan</span> al estándar
          </h2>
          <p class="mt-6">
            Barbados con su ley de datos personales "Data Protection Act 1 2019" coincide mayoritariamente (110 coincidencias) con el Estándar Iberoamericano. Le sigue México (sector público) con la "Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados" (97 coincidencias) y Jamaica con su "Data Protection Act, 2020" (70 coincidencias).
          </p>
          <a href="{{ relref . "comparando-las-leyes.md" }}" class="bg-ryb text-white font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-2xl lg:text-4xl text-dodger">
            Chile, Bahamas y Costa Rica tienen las leyes que <span class="text-ryb">más difieren</span> del estándar
          </h2>
          <p class="mt-6">
            La "Ley 19628 Sobre protección de la vida privada" de Chile es la que más difiere del Estándar (161 inconsistencias), le siguen Bahamas y Costa Rica (con 137 inconsistencias). Lo que permite afirmar que existen mayores casos donde las leyes de cada país no coinciden con el Estándar.
          </p>
          <a href="{{ relref . "comparando-las-leyes.md" }}" class="bg-ryb text-white font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
        <div class="w-full lg:w-1/2"></div>
      </div>
    </div>
  </div>
</div>
<!--Qué piensa la ciudadanía-->
<div class="bg-space-cadet text-white py-32 px-4">
  <img class="mx-auto" src="{{"images/ciudadania.svg"|absURL}}" alt="">
  <h2 class="mt-6 text-center font-lores text-fuchsia uppercase text-3xl lg:text-5xl">
    ¿Qué piensa<br>la ciudadanía?
  </h2>
  <p class="text-center max-w-xl mx-auto mt-10">
    Esta encuesta, realizada a más de 10 mil personas provenientes de diferentes países de América Latina, contiene entre muchos otros asuntos, información sobre el uso e importancia de los datos personales. Estos son algunos de los hallazgos.
  </p>
  <div class="mx-auto mt-32 w-full md:w-10/12">
    <div class="flex flex-col items-start space-y-32">
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2"></div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-orange text-2xl lg:text-4xl">
            Hay <span class="text-fuchsia">desconocimiento</span> sobre lo que son los datos personales
          </h2>
          <p class="mt-6">
            A la pregunta de "¿Le parece que compartir sus datos personales tiene más beneficios que riesgos?" el 76.9% de las personas encuestadas respondió "más riesgos", mientras que el 10.1% respondió "más beneficios". Sin embargo, a la pregunta de "¿Para limitar la propagación del Covid 19 es imprescindible que el gobierno pueda rastrear los movimientos?" el 59% respondió "Sí". Lo que podría reflejar un desconocimiento de los beneficios y riesgos que puede tener el tratamiento de datos personales en la sociedad.
          </p>
          <a href="{{ relref . "ciudadania.md" }}" class="bg-fuchsia text-space-cadet font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-orange text-2xl lg:text-4xl">
            Algunas personas <span class="text-fuchsia">no le hallan valor</span> a sus datos personales
          </h2>
          <p class="mt-6">
            El tratamiento de datos personales a pesar de que se considera riesgoso en general, pierde su valor en algunos casos particulares. Por ejemplo, a la pregunta "¿Los beneficios que el gobierno puede proporcionar al recopilar datos superan los riesgos potenciales en épocas de pandemia?" el 31.9% de las personas encuestadas dijo "No", de ese porcentaje el 45.3% respondió que el gobierno debería multar a las personas que son coronavirus positivo y no permiten la geolocalización de sus celulares.
          </p>
          <a href="{{ relref . "ciudadania.md" }}" class="bg-fuchsia text-space-cadet font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
        <div class="w-full lg:w-1/2"></div>
      </div>
    </div>
  </div>
</div>
<!--Explora los datos-->
<div class="bg-caribean px-4 py-32">
  <div class="flex flex-col items-center">
    <img class="h-32" src="{{"images/explora.svg"|absURL}}" alt="">
    <h2 class="mt-6 font-lores text-space-cadet uppercase text-3xl lg:text-5xl">Explora<br>los datos</h2>
    <p class="text-onyx max-w-md mt-10 text-center">
      Ingresa al explorador de datos, realiza visualizaciones y descarga la información que desees con las preguntas clave y los filtros de búsqueda.
    </p>
    <a href="{{ relref . "ejemplo.md" }}" class="bg-space-cadet text-white font-lores px-3 py-2 rounded text-2xl mt-10">Explorar</a>
  </div>
</div>
{{ end }}