{{ define "main" }}
<div class="bg-space-cadet text-white">
  <div class="h-16 bg-contain bg-left-bottom bg-repeat-x md:h-64" style="background-image: url({{"images/bg-sky.png"|absURL}});"></div>
  <div class="pt-16">
    <div class="h-16 lg:h-36 bg-contain bg-center bg-repeat-x" style="background-image: url({{"images/title.svg"|absURL}}"></div>
    <p class="text-center max-w-lg mx-auto mt-16 px-4">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </p>
    <div class="py-32 w-full px-4 mx-auto flex flex-col space-y-32 lg:w-10/12">
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-fuchsia text-3xl lg:text-5xl">
            Por qué este proyecto <img class="inline-block w-8" src="{{"icons/lock.svg"|absURL}}" alt="">
          </h2>
          <p class="mt-6 max-w-md">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        </div>
        <div class="w-full lg:w-1/2"></div>
      </div>
      <!---->
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2"></div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-orange text-3xl lg:text-5xl">
            Qué son los datos personales <img class="inline-block w-12" src="{{"icons/dots.svg"|absURL}}" alt="">
          </h2>
          <p class="mt-6 max-w-md">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        </div>
      </div>
      <!---->
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-caribean text-3xl lg:text-5xl">
            Qué leyes se analizan aquí <img class="inline-block w-8" src="{{"icons/at.svg"|absURL}}" alt="">
          </h2>
          <p class="mt-6 max-w-md">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        </div>
        <div class="w-full lg:w-1/2"></div>
      </div>
    </div>
  </div>
</div>
<div class="bg-lavender py-16 px-4">
  <div class="flex items-center justify-center space-x-4">
    <img class="w-10" src="{{"icons/equals.svg"|absURL}}" alt="">
    <img class="w-10" src="{{"icons/equals.svg"|absURL}}" alt="">
    <img class="w-10" src="{{"icons/equals.svg"|absURL}}" alt="">
    <img class="w-10" src="{{"icons/dots.svg"|absURL}}" alt="">
  </div>
  <h2 class="mt-6 text-center font-lores text-ryb uppercase text-3xl lg:text-5xl">
    Comparando<br>las leyes
  </h2>
  <p class="text-center max-w-xl mx-auto mt-10 text-onyx">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</p>
  <div class="py-64"></div>
  <h2 class="mt-6 text-center font-lores text-dodger uppercase text-3xl lg:text-5xl">
    Conoce los<br>hallazgos
  </h2>
  <p class="text-center max-w-xl mx-auto mt-10 text-onyx">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
  <div class="text-center mt-8">
    <a href="{{ relref . "ejemplo.md" }}" class="bg-ryb text-white font-lores px-3 py-2 text-2xl rounded">Conocer</a>
  </div>
</div>
<div class="bg-caribean">
  <div class="flex flex-col md:flex-row">
    <div class="py-16 px-4 flex flex-col items-center text-center w-full md:w-1/2">
      <img class="h-32" src="{{"images/key-1.svg"|absURL}}" alt="">
      <h2 class="mt-6 font-lores text-space-cadet uppercase text-3xl lg:text-5xl">Explora<br>los datos</h2>
      <p class="text-onyx max-w-md mt-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
      <a href="{{ relref . "ejemplo.md" }}" class="bg-space-cadet text-white font-lores px-3 py-2 rounded text-2xl mt-6">Explorar</a>
    </div>
    <div class="py-16 px-4 flex flex-col items-center text-center w-full md:w-1/2">
      <img class="h-32" src="{{"images/key-2.svg"|absURL}}" alt="">
      <h2 class="mt-6 font-lores text-space-cadet uppercase text-3xl lg:text-5xl">Conoce la<br>encuesta</h2>
      <p class="text-onyx max-w-md mt-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
      <a href="{{ relref . "ejemplo.md" }}" class="bg-space-cadet text-white font-lores px-3 py-2 rounded text-2xl mt-6">Conocer</a>
    </div>
  </div>
</div>
{{ end }}