{{ define "main" }}
<div class="bg-space-cadet text-white">
  <div class="h-16 bg-contain bg-left-bottom bg-repeat-x md:h-64" style="background-image: url({{"images/bg-sky.png"|absURL}});"></div>
  <div class="pt-16">
    <div class="h-16 lg:h-36 bg-contain bg-center bg-repeat-x" style='background-image: url({{"images/title.svg"|absURL}}'></div>
    <p class="text-center max-w-2xl mx-auto mt-16 px-4">
      Datos como nuestro domicilio, correo electrónico o localización pertenecen a nuestra intimidad; si están en las manos equivocadas, pueden perjudicarnos personalmente y como sociedad. Por eso, este proyecto busca analizar las distintas leyes e iniciativas de datos personales en América Latina y contrastarlas con los estándares que se han adoptado internacionalmente.
    </p>
    <div class="py-32 w-full px-4 mx-auto flex flex-col space-y-32 lg:w-10/12">
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-fuchsia text-3xl lg:text-5xl">
            Por qué este proyecto <img class="inline-block w-8" src="{{"icons/lock.svg"|absURL}}" alt="">
          </h2>
          <p class="mt-6 max-w-md">
            Este proyecto surge como una iniciativa para disponibilizar varios análisis ya realizados sobre las leyes de protección de datos personales en países de América Latina, que incluyen distintos cuestionamientos que la ciudadanía y la sociedad civil se puede hacer constantemente sobre este tema y puede resolver con datos abiertos disponibles para su uso.
          </p>
        </div>
        <div class="w-full lg:w-1/2"></div>
      </div>
      <!---->
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2"></div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-orange text-3xl lg:text-5xl">
            Qué son los datos personales <img class="inline-block w-12" src="{{"icons/dots.svg"|absURL}}" alt="">
          </h2>
          <p class="mt-6 max-w-md">
            Es aquella información que sirve para identificar de forma directa o indirecta a una persona, es decir, indica de qué persona se trata (como el nombre o número de identificación), o da pistas sobre la identidad de la misma, por ejemplo su dirección de residencia.
          </p>
        </div>
      </div>
      <!---->
      <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-caribean text-3xl lg:text-5xl">
            Qué leyes se analizan aquí <img class="inline-block w-8" src="{{"icons/at.svg"|absURL}}" alt="">
          </h2>
          <p class="mt-6 max-w-md">
            Este proyecto analiza las leyes de protección de datos personales de distintos países de América Latina, entre los que se encuentran Argentina, Bolivia, Brasil, Chile, Colombia, Costa Rica, Ecuador, México, Panamá, Paraguay, Perú y Uruguay, determinando las coincidencias con el Estándar Iberoamericano de Protección de Datos, las iniciativas en torno a datos impulsadas en la pandemia por COVID 19, y lo que piensan sus ciudadanos del tratamiento de los datos personales.
          </p>
        </div>
        <div class="w-full lg:w-1/2"></div>
      </div>
    </div>
  </div>
</div>
<!--Las iniciativas de la pandemia -->
<div class="bg-caribean py-32 px-4 text-space-cadet">
  <img src="{{"images/iniciativa.svg"|absURL}}" alt="" class="mx-auto">
  <h2 class="mt-6 text-center font-lores uppercase text-3xl lg:text-5xl">
    Las iniciativas<br>de la pandemia
  </h2>
  <p class="text-center max-w-xl mx-auto mt-10">
    Durante la pandemia por COVID 19, varios países de América Latina impulsaron iniciativas de recolección de datos personales para obtener la mayor cantidad de información posible de las personas para mitigar la emergencia sanitaria. Este análisis contempla la aplicación de estas iniciativas a partir del tratamiento de datos personales, desde el consentimiento informado hasta el financiamiento de estas. Todos los datos incluidos en esta investigación fueron revisados por última vez el 21 de diciembre de 2020.
  </p>
  <div class="mx-auto mt-32 w-full md:w-10/12">
    <div class="flex flex-col items-start space-y-32">
      <div class="flex flex-col lg:flex-row lg:space-x-20">
        <div class="w-full lg:w-1/2">
          <iframe class="w-full" height="400px" src="{{"charts/derechos_vulnerados.html"|absURL}}" frameborder="0"></iframe>
        </div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-2xl lg:text-4xl">
            Los derechos a la <span class="text-fuchsia">protección de datos personales</span> y a la <span class="text-fuchsia">privacidad</span> son los más afectados
          </h2>
          <p class="mt-6">
            Según las organizaciones evaluadoras, las 12 iniciativas analizadas en este estudio vulneran el derecho a la protección de los datos personales y, de esas, 11 vulneran el derecho a la privacidad también. El derecho al acceso a la información y los derechos a la libertad de circulación y a la salud son vulnerados por 8 y 6 iniciativas, respectivamente.
          </p>
          <a href="{{ relref . "iniciativas-de-la-pandemia.md" }}" class="bg-space-cadet text-white font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
      </div>
      <div class="flex flex-col-reverse lg:flex-row lg:space-x-20">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-2xl lg:text-4xl">
            La iniciativa <span class="text-fuchsia">colombiana</span> es la que más derechos vulnera
          </h2>
          <p class="mt-6">
            La aplicación CoronApp de Colombia es la iniciativa que más derechos vulnera (7 derechos) según la evaluación realizada. Le siguen la iniciativa CoronApp de Chile, COVID-19MX de México y Covid-19 PY de Paraguay. Las aplicaciones EDUS (Costa Rica), Ecuador ASI (Ecuador), Protégete con salud (Panamá) y Perú en tus manos (Perú) son las que menos derechos vulneran (3 derechos).
          </p>
          <a href="{{ relref . "iniciativas-de-la-pandemia.md" }}" class="bg-space-cadet text-white font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
        <div class="w-full lg:w-1/2">
          <iframe class="w-full" height="400px" src="{{"charts/inic_vuln.html"|absURL}}" frameborder="0"></iframe>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row lg:space-x-20">
        <div class="w-full lg:w-1/2">
          <iframe class="w-full" height="400px" src="{{"charts/evaluacion.html"|absURL}}" frameborder="0"></iframe>
        </div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-2xl lg:text-4xl">
            Solo <span class="text-fuchsia">tres</span> iniciativas contemplan mecanismos de <span class="text-fuchsia">evaluación</span> o <span class="text-fuchsia">auditoría externa</span>
          </h2>
          <p class="mt-6">
            Según el análisis realizado, solo las iniciativas de Colombia, Ecuador y Uruguay contemplan algún mecanismo de evaluación o auditoría técnica externa. De la iniciativa de Brasil no se tiene información sobre este aspecto y los demás países no contemplaron estos mecanismos de auditoría.
          </p>
          <a href="{{ relref . "iniciativas-de-la-pandemia.md" }}" class="bg-space-cadet text-white font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Comparando las leyes-->
<div class="bg-lavender py-32 px-4 text-onyx">
  <img src="{{"images/compara.svg"|absURL}}" alt="" class="mx-auto">
  <h2 class="mt-6 text-center font-lores text-ryb uppercase text-3xl lg:text-5xl">
    Comparando<br>las leyes
  </h2>
  <p class="text-center max-w-xl mx-auto mt-10">
    Cada una de las leyes de los países de América Latina tiene sus particularidades y se relacionan de distintas maneras con el Estándar Iberoamericano de Protección de Datos que establece un modelo a seguir para abordar este tema en cada Estado. Estas son las coincidencias, coincidencias parciales y no coincidencias del Estándar en cada legislación.
  </p>
  <div class="max-w-5xl mx-auto">
    <iframe src="https://s3.amazonaws.com/lena.dskt.ch/heatmap-bid-2/heatmap-bid-2.html" frameborder=0 width="100%" height="800px"></iframe>
  </div>
  <div class="mx-auto mt-32 w-full md:w-10/12">
    <div class="flex flex-col items-start space-y-32">
      <div class="flex flex-col lg:flex-row lg:space-x-20">
        <div class="w-full lg:w-1/2">
          <iframe src="https://s3.amazonaws.com/lena.dskt.ch/map-bid-azul/map-bid-azul.html" frameborder=0 width="100%" height="400px"></iframe>
        </div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-2xl lg:text-4xl text-dodger">
            Barbados y México (Público) tienen las leyes que <span class="text-ryb">más se ajustan</span> al estándar
          </h2>
          <p class="mt-6">
            Barbados con su ley de datos personales "Data Protection Act 1 2019" coincide mayoritariamente con el Estándar Iberoamericano. Le sigue México (sector público) con la "Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados" y Jamaica con su "Data Protection Act, 2020". El gráfico muestra la puntuación y número de leyes que coinciden, coinciden parcialmente y no coinciden por cada país. Para México, solo se tuvieron en cuenta las leyes para el sector público.
          </p>
          <a href="{{ relref . "comparativo-de-leyes.md" }}" class="bg-ryb text-white font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
      </div>
      <div class="flex flex-col-reverse lg:flex-row lg:space-x-20">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-2xl lg:text-4xl text-dodger">
            Chile, Bahamas y Costa Rica tienen las leyes que <span class="text-ryb">más difieren</span> del estándar
          </h2>
          <p class="mt-6">
            La "Ley 19628 Sobre protección de la vida privada" de Chile es la que más difiere del Estándar (161 no coincidencias), le siguen Bahamas y Costa Rica (con 137 no coincidencias). Lo que permite afirmar que existen mayores casos donde las leyes de cada país no coinciden con el Estándar.
          </p>
          <a href="{{ relref . "comparativo-de-leyes.md" }}" class="bg-ryb text-white font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
        <div class="w-full lg:w-1/2">
          <iframe src="https://s3.amazonaws.com/lena.dskt.ch/map-no-coincide-bid/map-no-coincide-bid.html" frameborder=0 width="100%" height="400px"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Qué piensa la ciudadanía-->
<div class="bg-space-cadet text-white py-32 px-4">
  <img class="mx-auto" src="{{"images/ciudadania.svg"|absURL}}" alt="">
  <h2 class="mt-6 text-center font-lores text-fuchsia uppercase text-3xl lg:text-5xl">
    ¿Qué piensa<br>la ciudadanía?
  </h2>
  <p class="text-center max-w-xl mx-auto mt-10">
    Esta encuesta, realizada a más de 10 mil personas provenientes de diferentes países de América Latina, contiene entre muchos otros asuntos, información sobre el uso e importancia de los datos personales. Estos son algunos de los hallazgos.
  </p>
  <div class="mx-auto mt-32 w-full md:w-10/12">
    <div class="flex flex-col items-start space-y-32">
      <div class="flex flex-col lg:flex-row lg:space-x-20">
        <div class="w-full lg:w-1/2">
          <iframe src="https://s3.amazonaws.com/lena.dskt.ch/sankey-p31-p36-3-bid/sankey-p31-p36-3-bid.html" frameborder=0 width="100%" height="400px"></iframe>
        </div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-orange text-2xl lg:text-4xl">
            Hay <span class="text-fuchsia">desconocimiento</span> sobre lo que son los datos personales
          </h2>
          <p class="mt-6">
            El 51% de las personas que respondieron la pregunta de "¿Le parece que compartir sus datos personales tiene más beneficios que riesgos?" con "Más riesgos que beneficios", estuvieron de acuerdo con que su gobierno debería multar a las personas que son coronavirus positivo y no permiten la geolocalización de sus celulares. Considerar que es riesgoso compartir los datos personales pero facultar al gobierno para multar a quienes no permiten la geolocalización representa una discordancia y podría reflejar un desconocimiento de lo que son los datos personales y de las implicaciones de que el gobierno pueda exigir a sus ciudadanos entregarle esta información.
          </p>
          <a href="{{ relref . "encuesta-a-la-ciudadania.md" }}" class="bg-fuchsia text-space-cadet font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
      </div>
      <div class="flex flex-col-reverse lg:flex-row lg:space-x-20">
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-orange text-2xl lg:text-4xl">
            Algunas personas <span class="text-fuchsia">no le hallan valor</span> a sus datos personales
          </h2>
          <p class="mt-6">
            El 60% de quienes manifestaron no saber qué hace el gobierno con sus datos personales consideraron que los beneficios que el gobierno puede proporcionar al recopilar sus datos y el de otras personas superan los riesgos potenciales en épocas de pandemia. La voluntad de entregar esta información al Estado sin la necesidad de saber qué se hace con esta, podría reflejar que estas personas no le hallan un valor a sus datos personales.
          </p>
          <a href="{{ relref . "encuesta-a-la-ciudadania.md" }}" class="bg-fuchsia text-space-cadet font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
        <div class="w-full lg:w-1/2">
          <iframe src="https://s3.amazonaws.com/lena.dskt.ch/sankey-p34-p36-1-bid/sankey-p34-p36-1-bid.html" frameborder=0 width="100%" height="400px"></iframe>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row lg:space-x-20">
        <div class="w-full lg:w-1/2">
          <iframe src="https://s3.amazonaws.com/lena.dskt.ch/sankey-p31-p36-1-bid/sankey-p31-p36-1-bid.html" frameborder=0 width="100%" height="400px"></iframe>
        </div>
        <div class="w-full lg:w-1/2">
          <h2 class="font-lores uppercase text-orange text-2xl lg:text-4xl">
            En épocas de pandemia, las personas <span class="text-fuchsia">cambian de opinión</span>
          </h2>
          <p class="mt-6">
            El 61% de las personas que consideran más riesgoso que beneficioso compartir los datos personales consideran que, en época de pandemia, los beneficios que el gobierno puede proporcionar al recopilar sus datos y el de otras personas superan los riesgos potenciales. Esto podría reflejar un cambio de opinión con respecto a lo que se considera riesgoso o beneficioso al introducir el factor de la pandemia.
          </p>
          <a href="{{ relref . "encuesta-a-la-ciudadania.md" }}" class="bg-fuchsia text-space-cadet font-lores px-3 py-2 rounded text-lg mt-6 inline-block">Explorar datos</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Explora los datos-->
<div class="bg-caribean px-4 py-32">
  <div class="flex flex-col items-center">
    <img class="h-32" src="{{"images/explora.svg"|absURL}}" alt="">
    <h2 class="mt-6 font-lores text-space-cadet uppercase text-3xl lg:text-5xl">Explora<br>los datos</h2>
    <p class="text-onyx max-w-md mt-10 text-center">
      Ingresa al explorador de datos, realiza visualizaciones y descarga la información que desees con las preguntas clave y los filtros de búsqueda.
    </p>
    <div class="mt-10 flex flex-col space-y-6 items-center md:flex-row md:space-y-0 md:space-x-6">
      <a href="{{ relref . "iniciativas-de-la-pandemia.md" }}" class="text-center bg-space-cadet text-white font-lores px-3 py-2 rounded text-2xl">Iniciativas de<br>la pandemia</a>
      <a href="{{ relref . "comparativo-de-leyes.md" }}" class="text-center bg-space-cadet text-white font-lores px-3 py-2 rounded text-2xl">Comparativo<br>de leyes</a>
      <a href="{{ relref . "encuesta-a-la-ciudadania.md" }}" class="text-center bg-space-cadet text-white font-lores px-3 py-2 rounded text-2xl">Encuesta a la<br>ciudadanía</a>
    </div>
  </div>
</div>
{{ end }}
