{{ define "main" }}
<div class="bg-space-cadet">
  <div class="font-lores text-center max-w-lg mx-auto py-12">
    <h2 class="text-orange text-xl md:text-2xl uppercase">{{ T "menu_label_data_explorer" }}</h2>
    <h1 class="text-fuchsia text-3xl md:text-5xl uppercase">{{.Title}}</h1>
    <details>
      <summary role="button" tabindex="0" class="inline-block bg-fuchsia text-space-cadet rounded px-3 py-2 text-lg mt-4">
        {{ T "buton_label_how_to_use" }}
      </summary>
      <div class="mt-6 font-usual text-white text-left space-y-4">
        {{ .Content }}
      </div>
    </details>
  </div>
  {{ if .Params.app }}
    <div class="h-screen">
      <iframe src="{{.Params.app}}" class="w-full h-full" frameborder="0"></iframe>
    </div>
  {{ end }}
  <div class="h-16 bg-contain bg-left-bottom bg-repeat-x md:h-64" style="background-image: url({{"images/bg-sky.png"|absURL}});"></div>
</div>
{{ end }}
